/* import 구글 폰트 삽입 */
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&family=Single+Day&display=swap');

/* 눈누 폰트 */
@font-face {
    font-family: 'TTHakgyoansimGureumR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimGureumR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h2 {
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
}

strong {
    font-family: 'TTHakgyoansimGureumR';
}